*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;
}
/*
article
*/
.msg-box{
	padding: 50px;
	padding-top: 10px;
	min-height: 400px;
}
.article{
	padding: 35px;
	background: #fff;
	margin-bottom: 30px;
}
.post-header{
	height: 71px;
	text-align: center;
}
.post-meta{
	color: #959595;
}
.author a{
	text-decoration: none;
	color: #f4645f;
}
.author a:hover{
	text-decoration: none;
}
.msg-content{
	width: 70%;
	margin: 0px auto;
	color: #808087;
}
/*
Discuss
*/
#comment-place{
	width: 70%;
	padding-top: 40px;
	margin: 0px auto;
	color: #808087;
}
.comment-place {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}
